@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ef1a21;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221011;
  --color-charcoal: #221B23;
  --font-display: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

body {
  font-family: var(--font-display);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
